<ion-content [fullscreen]="true">
  <img src="../../assets/logo.png" alt="" class="logo">
  <h1 class="ion-text-center" style="margin-top: 5%; font-weight: 400; font-size: 62px;">
    AImagen
  </h1>
  
  <div class="vspace"></div>
  <div class="vspace"></div>

  <p class="ion-text-center" style="font-size: 22px;">
    Lorem ipsum dolor sit amet.
  </p>
  <div class="vspace"></div>
  <div class="vspace"></div>

 
  <ion-button mode="ios" expand="block" color="main" class="ion-padding" (click)="GoLogin()">CONTINUE</ion-button>

</ion-content>
